<!-- templates/endereco.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Endereço Encontrado</title>
</head>
<body>
    <h1>Endereço Encontrado</h1>

    <ul>
        <li><strong>CEP:</strong> {{ endereco.cep }}</li>
        <li><strong>Rua:</strong> {{ endereco.rua }}</li>
        <li><strong>Bairro:</strong> {{ endereco.bairro }}</li>
        <li><strong>Cidade:</strong> {{ endereco.cidade }}</li>
        <li><strong>Estado:</strong> {{ endereco.estado }}</li>
    </ul>

    <a href="{% url 'home' %}">Consultar outro CEP</a>
</body>
</html>
